<!-- <h1>Pressione a tela e faça uma pergunta</h1> -->

<div class="holder">
  <h4 class="log"></h4>

  <audio id="short_question">
    <source src="/assets/sounds/short_question.mp3" type="audio/mpeg">
  </audio>

  <audio id="long_question">
    <source src="/assets/sounds/long_question.mp3" type="audio/mpeg">
  </audio>
</div>

